{% extends "layout/base.twig" %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 text-center">
        <h1 class="display-4 mb-4">{{ title }}</h1>
        <p class="lead mb-5">{{ description }}</p>
        
        <div class="row g-4">
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <i class="fas fa-database fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">GIS Catalog</h5>
                        <p class="card-text">Browse and search through our collection of GIS datasets.</p>
                        <a href="/catalog" class="btn btn-primary">View Catalog</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <i class="fas fa-file-alt fa-3x mb-3 text-success"></i>
                        <h5 class="card-title">Metadata</h5>
                        <p class="card-text">Access ISO 19115 compliant metadata for all datasets.</p>
                        <a href="/metadata" class="btn btn-success">View Metadata</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card h-100">
                    <div class="card-body">
                        <i class="fas fa-exchange-alt fa-3x mb-3 text-info"></i>
                        <h5 class="card-title">OAI-PMH</h5>
                        <p class="card-text">Harvest metadata using the OAI-PMH protocol.</p>
                        <a href="/oai" class="btn btn-info">OAI-PMH Service</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 